
sessions/
Server/build/GenieViews
Server/sessions/
*.jls
.vscode/settings.json
Server/app/resources/emails/credentials.json
Server/db/connection.yml
Server/public/assets/groups.json
Server/public/assets/communes.json
Server/public/assets/coops.json
Server/public/assets/parties.json
Server/public/assets/cooperatives.json
Server/public/assets/partners.json
Server/public/assets/trade_unions.json
