<!DOCTYPE html>
<html lang="en">
<head>
    <title>$(vars(:title))</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="$(vars(:title))">
    <meta property="og:description" content="$(vars(:description))">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/common/flag.png">
    <meta property="og:url" content="">
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <!--Load libraries-->

    <!--Load fonts-->

    <!--Load CSS-->
    
    <!--Load components-->

</head>
<body>
    <!--<loadscreen-component></loadscreen-component>-->

    <div id="content">
        <navbar-component></navbar-component>

        <%@yield%>

        <footer-component></footer-component>
    </div>
</body>
</html>