



/*

#notifications-div>button {
    cursor: pointer;
    margin-left: 0.341rem;
}

#notifications-div>:nth-child(1) {
    width: 1.706rem;
    height: 1.706rem;
    background-color: #ccc;
    border-radius: 100%;
}

#notifications-div>:nth-child(2) {
    width: 2.047rem;
    height: 2.047rem;
    background-color: #ccc;
    border-radius: 100%;
}

#notifications-div>:nth-child(3) {
    width: 2.389rem;
    height: 2.389rem;
    background-color: #ccc;
    border-radius: 100%;
}

#notifications-div>button>div {
    cursor: pointer;
    margin: auto;
    background-color: white;
    border-radius: 100%;
}

#notifications-div>:nth-child(1)>div {
    width: 1.228rem;
    height: 1.228rem;
}

#notifications-div>:nth-child(2)>div {
    width: 1.57rem;
    height: 1.57rem;
}

#notifications-div>:nth-child(3)>div {
    width: 1.843rem;
    height: 1.843rem;
}

*/